.html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.logo {
    width: 45px;
    height: 45px;
    margin-left: 26px;
    justify-content: left;
    align-items: left;
    margin-top: 40px;
}

.mainhead {
    justify-content: right;
    align-items: right;
}

.AB {
font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-size: 20px;
  font-weight: 400;
  font-style: light;
}

.rgtop {
  display: flex;
  justify-content: right;
  align-items: right;
  margin-right: 26px;
}

.menu {
 margin-left: 37px;
 width: 45px;
 height: 13px;
 text-align: center;
 margin-top: 18px;
}

.fon {
  margin-top: 33px;
  background-color: #0066FF;
  height: 330px;
  position: relative; /* Добавляем для позиционирования дочерних элементов */
}

.fon-text {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  color: #fff;
  font-family: sans-serif;
}

.fon-text h1 {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 10px;
}

.fon-text p {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.4;
}

.fon-pattern {
  z-index: 1;
  display: flex;
  justify-content: right;
  align-items: right;
}

.pattern {
  height: 330px;
}

.main-text {
  z-index: 2;
}

.line {
width: 100vw;
margin-left: calc(-50vw + 50%);
background: url(img/line.png) no-repeat center center;
background-size: cover;
overflow: hidden;
height: 100px;
}

.whattext h1 {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 10px;
}

.whattext p {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.4;
}

.btn {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
 